
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>お役立ち</title>
        <link rel="stylesheet" type="text/css" href="static/home/css/style.css" />
    </head>
    <body>

        <!-- HEADER-->
        <header>
            <div class="flex_container container1">
                <div class="felx_box box1_1">
                    <a href="index.html">
                        <img src="static/home/img/bridge-logo.png" alt="bridge-logo" width="120px" height="40px">
                    </a>
                </div>


                <ul id="top_menu" class="flex_container container2">
                    <li class="felx_box box2_1">
                        <a href="about.html">About us</a>
                    </li>
                    <li class="felx_box box2_3">
                        <a href="report.html">活動報告</a>
                    </li>
                    <li class="felx_box box2_2">
                        <a href="/human">大学生図鑑</a>
                    </li>
                    <li class="felx_box box2_4 current">
                        <a href="useful.html">お役立ち</a>
                    </li>
                    <li class="felx_box box2_5">
                        <a href="sponsorship.html">連携団体</a>
                    </li>
                    <li class="felx_box box2_6">
                        <a href="contact.html">お問い合わせ</a>
                    </li>
                </ul>
            </div>

            <ul id="top_menu_copied">

              <div class="box_b">
                <li class="box2_1">
                    <a href="about.html">About us</a>
                </li>
                <li class="box2_3">
                    <a href="report.html">活動報告</a>
                </li>
              </div>
              <div class="box_b">
                <li class="box2_2">
                    <a href="/human">大学生図鑑</a>
                </li>
                <li class="box2_4 current">
                    <a href="useful.html">お役立ち</a>
                </li>
              </div>
              <div class="box_b">
                <li class="box2_5">
                    <a href="sponsorship.html">連携団体</a>
                </li>
                <li class="box2_6">
                    <a href="contact.html">お問い合わせ</a>
                </li>
              </div>
            </ul>

        </header>
        <!-- END-HEADER-->

        <!-- MAIN-->
        <main>
            <section>
                <img src="static/home/img/useful.jpg" width="95%" alt="写真サイトへ">
                <!-- <h1 class="state">{{title}}</h1> -->
            </section>

            <ul>
                <li>
                    <a href="http://fairwind-ut.com/article/recommends/" class="state">おすすめ勉強法と参考書</a>
                    <p>
                        FairWindメンバーがお勧めする参考書や勉強法を各教科ごとに紹介しています。<br>
                        (FairWind HPへ)
                    </p>
                </li>
                <li>
                    <a href="http://fairwind-ut.com/article/zyukenki/" class="state">東大受験記</a>
                    <p>
                        FairWindメンバーが実体験した東大入試直前のリアルな心境を記事として紹介します。<br>
                        (FairWind HPへ)
                    </p>
                </li>
                <li>
                    <a href="article.html" class="state">東北大受験期記</a>
                    <p>
                        現在準備中です。しばらくお待ちください。
                    </p>
                </li>

                <li>
                    <a href="http://fairwind-ut.com/article/ichinichi/" class="state">東大生の一日</a>
                    <p>
                        1年生から4年生までの5人の東大生のある1日の過ごし方を掲載しています。勉強はもちろんのこと、
                        サークルなどの課外活動やアルバイトのことにも触れられた興味深い内容です。<br>
                        (FairWind HPへ)
                    </p>
                </li>
                <li>
                    <a href="article.html" class="state">東北大生の一日</a>
                    <p>現在準備中です。しばらくお待ちください。</p>
                </li>
                <!-- <li>
                    <a href="{% url 'useful-articlePage' 'consultation' %}">相談</a>
                </li>
                <li>
                    <a href="{% url 'useful-articlePage' 'study' %}">勉強</a>
                </li>
                <li>
                    <a href="{% url 'useful-articlePage' 'test' %}">受験</a>
                </li> -->
            </ul>
        </main>
        <!-- END-MAIN-->

        <!-- FOOTER-->
        <footer>
            <ul>
                <li>
                <a href="mailto:bridge.univ.tohoku@gmail.com" arget="_blank">
                    <img src="static/home/img/mail.png" width="20" height="20" alt="メール送信">
                </a>
                </li>
                <li>
                <a href="http://bridgeunivtohoku.wixsite.com/homepage" target="_blank">
                    <img src="static/home/img/blog.png" width="20" height="20" alt="ブログサイトへ">
                </a>
                </li>
                <li>
                <a href="http://bridgeunivtohoku.wixsite.com/homepage" target="_blank">
                    <img src="static/home/img/photos.png" width="20" height="20" alt="写真サイトへ">
                <a>
                </li>
            </ul>
            <p>(c) bridge-tohoku </p>
        </footer>
        <!-- END-FOOTER-->

    </body>
</html>
